@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: radial-gradient(ellipse at top, #1e293b 0%, #0f172a 40%, #020617 100%);
    /* Deep spotlight effect */
    background-attachment: fixed;
    /* fix gradient on scroll */
    color: #f8fafc;
    /* Slate 50 */
    min-height: 100%;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}

@theme {
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #64748b;
  --color-brand-accent: #f43f5e;
}