@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000000;
    /* True Black Background */
    color: #e4e4e7;
    /* Zinc 200 Text */
    min-height: 100%;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #09090b;
  }

  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
    /* Zinc 700 */
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #52525b;
    /* Zinc 600 */
  }
}

@layer utilities {
  .text-primary-sky {
    @apply text-sky-400;
  }

  .text-accent-purple {
    @apply text-violet-400;
  }

  .bg-surface {
    @apply bg-slate-800;
  }

  .border-surface-highlight {
    @apply border-slate-700;
  }
}

@theme {
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #64748b;
  --color-brand-accent: #f43f5e;
}